{% extends 'base.html' %}
{% block content %}

<div class="">
    <div class="">
        <h4>Latest Trending Question</h4>
        <ul class="list-group">
            {% for quest_list in quest_list  %}
              
          
            <li class="list-group-item m-3 text-wrap w-50 text-center">
                <a class="nav-link"href="{{ quest_list.get_absolute_url }}">
                    <div class=" fs-4 text-semibold">
                        {{quest_list.question}}
                    </div>
                </a>
            </li>
            
            {% endfor %}
        </ul>
            
    </div>
</div>

{% endblock content %}





